<div class="container">
  <div class="row">
    <div class="col-3", style = "margin-top: 50px;">
      <h1>Mypost</h1>
      <% @posts.each do |posts| %>
        <%= link_to post_path(posts.id) do %>
          <%= image_tag posts.get_image(100,100),class:"mt-3 rounded-circle" %>
        <% end %>
        <%= posts.shop %>
      <% end %>
    </div>
    <div class="col-9", style = "margin-top: 50px;">
      <table class="table">
        <thead>
          <tr>
            <th>name</th>
            <th>introduction</th>
            <th>image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @user.name %></td>
            <td><%= @user.introduction %></td>
            <td><%= image_tag @user.get_profile_image(100,100),class:"mt-3 rounded-circle" %></td>
            <td><%= link_to "edit", edit_user_path(@user) %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "new", new_post_path %>
    </div>
  </div>
</div>
