<!DOCTYPE html>
<html>
  <head>
    <title>Ramen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/99e9507590.js" crossorigin="anonymous"></script>
  </head>

  <body>
     <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
        <a>
          <%= link_to 'Ramen!!', root_path, data: {"turbolinks" => false} %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '投稿フォーム', new_post_path %><%= fa_icon("camera") %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path %><%= fa_icon("search") %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id) %><%= fa_icon("image") %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %><%= fa_icon("home") %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <li class="nav-item">
                <%= link_to "アバウト", homes_about_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
